[defaults]
# Inventory file location
inventory = ./inventory/hosts.yml

# Path for roles if you use a specific directory
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
# Prevent warnings about missing roles or unusual tasks
deprecation_warnings = False
command_warnings = False

# Enable persistent connections to speed up execution
pipelining = True

# Increase performance by running more tasks in parallel
forks = 15

# Gather facts only when needed (smart)
gathering = smart
# Ensure colored output for readability
force_color = 1

[privilege_escalation]
# Configuration for becoming root
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
# Optimize SSH settings
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
transfer_method = piped

